services:
  node:
    container_name: ziacka_knizka

    build:
      context: ./docker/build/node_js

    environment:
      DB_HOST: school-db
      DB_DATABASE: school
      DB_USER: school
      DB_PASSWORD: ${DB_USER_PWD}

    volumes:
      - ./app:/opt/app

    ports:
      - "3000:3000"

  db:
    container_name: school-mariadb
    build:
      context: ./docker/build/mariadb
    environment:
      MARIADB_DATABASE: school
      MARIADB_ROOT_PASSWORD: ${DB_ROOT_PWD}
      MARIADB_USER: school
      MARIADB_PASSWORD: ${DB_USER_PWD}
    networks:
      default:
        aliases:
          - school-db
    ports:
       - "33996:3306"
    volumes:
      - ./docker/data/mariadb:/var/lib/mysql:delegated
      - ./docker/build/mariadb/init_school.sql:/docker-entrypoint-initdb.d/init_school.sql

  phpmyadmin:
    image: phpmyadmin
    ports:
      - "8080:80"
    environment:
      - PMA_ARBITRARY=0
      - PMA_HOST=school-db


