{% extends "layout.html.njk" %}
{% block title %}Učiteľ – dashboard{% endblock %}

{% block content %}

<h2>Moje predmety v triedach</h2>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Trieda</th>
            <th>Predmet</th>
            <th>Akcia</th>
        </tr>
    </thead>

    <tbody>
        {% for cs in subjects %}
        <tr>
            <td>{{ cs.grade_year }}.{{ cs.name_letter }}</td>
            <td>{{ cs.subject_name }}</td>
            <td>
                <a href="/teacher/class-subject/{{ cs.class_subject_id }}"
                   class="btn btn-primary btn-sm">
                    Zobraziť známky
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
