{% extends "layout.html.njk" %}
{% block title %}Admin – triedy{% endblock %}

{% block content %}

<h2>Prehľad tried</h2>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Trieda</th>
            <th>Počet žiakov</th>
        </tr>
    </thead>
    <tbody>
        {% for c in classes %}
        <tr>
            <td>{{ c.grade_year }}.{{ c.name_letter }}</td>
            <td>{{ c.student_count }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
