{% extends "layout.html.njk" %}
{% block title %}Triedy{% endblock %}

{% block content %}

<h2 class="mb-4">Prehľad tried</h2>

<table class="table table-striped table-bordered">
    <thead class="table-light">
        <tr>
            <th>Trieda</th>
            <th>Počet žiakov</th>
        </tr>
    </thead>
    <tbody>
        {% for c in classes %}
            <tr>
                <td>{{ c.grade_year }}.{{ c.name_letter }}</td>
                <td>{{ c.student_count }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2" class="text-center text-muted">
                    Žiadne triedy
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
