{% extends "layout.html.njk" %}

{% block content %}
<h1>Admin – rozhranie</h1>

<ul>
    <li><a href="/admin">Používatelia</a></li>
    <li><a href="/admin/classes">Triedy</a></li>
</ul>
{% endblock %}
